# Core
uvicorn[standard]
fastapi
pydantic
requests

# vDB
qdrant-client

# AI
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain.tools
langgraph
sentence-transformers
sqlalchemy
python-jose
psycopg2-binary
passlib[bcrypt]
bcrypt>=3.2,<4
pydantic[email]
redis
pytest
pytest-asyncio
python-dotenv