# Core
uvicorn[standard]
fastapi
pydantic
langchain
langchain-community
langchain-openai
requests

# Vector DB
qdrant-client

# Dev / Embeddings
langchain-huggingface
langchain.tools
langgraph
sentence-transformers
