# Core
uvicorn[standard]
fastapi
pydantic
requests

# vDB
qdrant-client

# AI
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain.tools
langgraph
sentence-transformers

# Dev
sqlalchemy
python-jose
psycopg2-binary