# Core
uvicorn[standard]
fastapi
pydantic[email]
requests

# vDB
qdrant-client

# AI
langchain
langchain-openai
langchain-huggingface
langgraph
sqlalchemy
python-jose
psycopg2-binary
passlib[bcrypt]
bcrypt>=3.2,<4
redis
pytest
pytest-asyncio
python-dotenv

# Dev
langfuse<3.0.0
